.about_marykay_ash {
    @include m() {
        overflow-x: hidden;
    }

    .breadcrumbs {
        margin-bottom: 20px;
    }

    .banner {
        height: 560px;
        width: 100%;
        overflow: hidden;
        position: relative;

        @include t() {
            height: auto;
        }

        @include m() {
            width: 180%;
            height: initial;
        }

        img {
            object-fit: cover;
            height: 560px;

            @include t() {
                height: auto;
                width: 100%;
            }
        }
    }

    .about_marykay_inner {
        position: relative;

        @include m() {
            padding: 0 15px;
        }

        height: 0;

        @include t() {
            height: auto;
        }

        .text_head {
            position: absolute;
            left: 50%;
            top: -460px;

            @include t() {
                position: relative;
                left: initial;
                top: 28px;
            }

        }

        .text_body {
            margin-top: 50px;
            max-width: 610px;
            width: 100%;
            .sign {
                margin-top: 20px;
                text-align: right;
            }

            @include t() {
                width: 100%;
                height: 180px;
            }

            ul li {
                list-style: disc;
                line-height: 1.9rem;

            }
        }

    }

    .spec {
        color: #000;

        img {
            width: 100%;
            object-fit: cover;
        }

        .spec_inner {
            position: relative;
            max-width: 580px;
            width: 100%;
            margin: 0 auto;

            .t1 {
                @include m() {
                    margin-top: 50px;
                }
            }

            .t2 {
                margin-top: 60px;


            }

            @include m() {
                padding: 0 40px 60px;
            }
        }
    }

    .onebox {
        padding: 100px 10px;

        .inner {
            width: 100%;
            margin: 0 auto;
            max-width: 950px;
        }
    }

    .about_marykay_content {
        margin-top: -6px;
        padding-bottom: 100px;
        min-height: 617px;
        background-image: url('../images/HK_layoutA/aboutMary-Kay-Ash_HK04.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        padding-top: 100px;
        justify-content: center;
        align-items: center;
        background-position:top right;

        .bg {
            background-color: rgba(255, 255, 255, 0.482);
            width: 75%;
            max-width: 996px;
            padding: 60px 160px;
            @include m(){
               width: 90%;
               padding: 60px 15px;
            }

            .box {
                box-shadow: 1px 3px 10px rgb(206, 206, 206);
                padding: 30px;
                background-color: #fff;
                margin-top: 20px;
                transition: .2s all ease;

                &:first-child {
                    margin-top: 0px;
                }

                &:hover {
                    background-color: rgba(254, 244, 252, 0.756);
                }

                .solgan {
                    margin-top: 0;
                    margin-bottom: 14px;
                }

            }

            .text-body {
                margin-top: 50px;
                line-height: 1.8rem;
            }

            .solgan {
                color: #FF395D;
                font-weight: 500;
                margin-top: 50px;

            }

        }

    }

    .bottom_content {
        max-width: 1380px;
        margin: 0 auto;
        margin-top: 80px;
        text-align: center;

        .titles {
            width: 60%;
            max-width: 570px;
            margin: 0 auto;

            h1 {
                font-size: 1.1rem;
            }
        }

        .subtitles {
            font-size: initial;
            margin-top: 40px;
            line-height: 1.5rem;
        }

        .inner>img {
            height: 340px;
            margin-bottom: 30px;

        }

        .inner>.specs {
            object-fit: cover;
            height: 340px;
            object-position: top;
        }

        .inner>div {
            padding: 22px;
            min-height: 150px;
        }

        // .inner {}
    }
}