//常用參數



.section_full {
    width: 100vw;
    height: 100vh;
}

.dark {
    background-color: rgb(0, 0, 0);
    color: #fff;
}


.marginauto {
    margin: 0 auto;
}

.text_center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-block {
    @extend .flex;
    flex-direction: column;
}





.block {
    display: block
}

.hide {
    overflow: hidden;
}

.nomargin {
    padding: 0;
    margin: 0;
}

.white {
    color: rgb(0, 0, 0);
}

.subtitle {
    font-size: 13px;
    line-height: 0;
}

.p-10 {
    position: relative;
    top: 15px
}


.action {
    position: absolute;

    bottom: 50px;
    // transform: translate(-50%, -50%);
    z-index: 200;
    text-align: center;
    width: 100%;

    .arrow {
        width: 24px;
        height: 24px;
        color: #fff;
        margin: 0 auto;
        position: relative;
        cursor: pointer;
    }
}

h3 {
    font-size: 1.2rem;
    font-weight: 800;
}

.small_title {
    font-size: .6rem;
}





.diver {
    width: 42px;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    margin: 40px auto 40px;

    &.black {
        background-color: #000;
        margin: 13px auto 18px;

    }
}




@include push (top, 600, margin);