/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh50XSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh50XSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// 英文字體
@font-face {
  font-family: 'marykay-bold';
  src: url('../fonts/MaryKaySans-Bold.otf') format('otf');
  font-weight: bold;
  // src: local("Arial"),
}

@font-face {
  font-family: 'marykay';
  src: url('../fonts/MaryKaySans-Medium.otf') format('otf');
  font-weight: normal;
  // src: local("Arial"),
}
@font-face {
  font-family: 'marykay-light';
  src: url('../fonts/MaryKaySans-Light.otf') format('otf');
  font-weight: lighter;
  // src: local("Arial"),
}





body {
  font-family: 'Noto Sans TC', sans-serif !important;
}

#en {
  font-family: 'marykay' , sans-serif !important; 
  font-size: 14px;
 }



.titles {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.h2 {
  font-family: 'Lato', sans-serif;
  font-size: 46px;
  font-weight: 900;
  line-height: 2.8rem;

}

// 標楷體中文
.font1 {
  font-family: 'Noto Serif TC', sans-serif;
  font-size: 26px;
  line-height: 2.2rem;
}

.h3 {
  font-family: 'Lato', sans-serif;
  font-size: 36px !important;
  // font-weight: 900 !important;
  line-height: 2.8rem;
}

.h4 {
  font-family: 'Lato', sans-serif;
  font-size: 30px !important;
  font-weight: 900 !important;
  line-height: 2rem;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 26px;
  @include m(){
   font-size: 23px;
  }
}

h3 {
  font-size: 24px;
}

footer {
  h4 {
    font-size: 1.2rem; 
    @include m(){
        font-size: 1.7rem;  
    
    }
  }
}

.bold {
  font-weight: 500;
}

dd {
  font-size: 1.15rem;
  font-family: 'Noto Sans JP', sans-serif;
}

dt {
  font-size: .8rem;
  color: rgb(189, 189, 189);
  font-family: 'Noto Sans JP', sans-serif;
}

.text_small {
  font-size: .92rem;
}


$all :(
'1' : 100,
'2' : 200,
'3' : 300,
'4' : 400,
'5' : 500,
'6' : 600,
'7' : 800,
'9' : 800,

);


@each $class,
$weight in $all {
  .w#{$class} {
    font-weight: $weight!important;
  }
}



// 日本字型
// font-family: 'Noto Sans JP', sans-serif;
//https://fonts.google.com/specimen/Noto+Sans+JP?preview.text=%E8%87%AA%E7%94%B1%E6%8E%A5%E6%A1%88&preview.text_type=custom