.about_marykay {
    @include m() {
        overflow-x: hidden;
    }

    .breadcrumbs {
        margin-bottom: 20px;
    }

    .banner {
        height: 560px;
        width: 100%;
        overflow: hidden;
        position: relative;

        @include t() {
            height: auto;
        }

        @include m() {
            width: 180%;
            height: initial;
        }

        img {
            object-fit: cover;
            height: 560px;

            @include t() {
                height: auto;
                width: 100%;
            }
        }
    }

    .about_marykay_inner {
        position: relative;
        height: 0;

        @include m() {
            padding: 0 15px;
        }

        @include t() {
            height: auto;
            margin-bottom: 78px;
        }

        .text_head {
            position: absolute;
            left: 50%;
            top: -460px;

            @include t() {
                position: relative;
                left: initial;
                top: 28px;
            }

        }

        .text_body {
            margin-top: 50px;
            width: 100%;
            max-width: 630px;
        }

    }

    .spec {
        padding: 100px 0;
        background-color: rgb(0, 0, 0);
        text-align: center;


        img.logo {
            position: relative;
            top: 40%;
            width: 280px;

            @include t() {
                top: 0px;
                width: 200px;
                margin-bottom: 20px;
            }
        }

        h4 {
            text-align: left;

            @include m() {
                width: 300px;
                margin: 0 auto 30px;

            }

        }
    }

    .tech_content {
        padding: 100px 0 0;
        text-align: center;

        .best {
            width: 480px;
            margin: 0 auto;

            .desc {
                text-align: left;
                width: 300px;
                margin: 0 auto;
            }

        }
    }

    .about_marykay_content {
        height: 617px;
        // background-image: url('../images/HK_layoutA/aboutMaryKay-HK03.jpg');
        background-color: #FADEE5;
        // background-repeat: no-repeat;
        // background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;

        .bg {
            background-color: #fff;
            width: 75%;
            max-width: 996px;
            padding: 60px 100px;
            box-shadow: 3px 3px 15px rgb(223, 200, 200);
            text-align: center;

            @include t() {
                width: 85%;
                padding: 60px 15px;
            }

            .text-body {
                margin-top: 50px;
                line-height: 1.8rem;

                @include t() {
                    text-align: left;
                }
            }

            img {
                margin-top: 20px;
                width: 100%;
                max-width: 307px;
            }

            // .solgan {
            //     color: #FF395D;
            //     font-weight: 500;
            //     margin-top: 50px;

            // }

        }

    }

    .bottom_content {
        max-width: 1380px;
        margin: 0 auto;
        margin-top: 80px;
        text-align: center;

        @include m() {
            padding: 0 15px;
        }

        .titles {
            width: 60%;
            max-width: 570px;
            margin: 0 auto;

            h1 {
                font-size: 1.1rem;
            }

            @include t() {
                width: 100%;

                h1 {
                    line-height: 24px;
                    font-size: .6rem;
                }
            }
        }

        .subtitles {
            font-size: initial;
            margin-top: 40px;
            line-height: 1.5rem;
        }

        .inner>img {
            height: 340px;
            margin-bottom: 30px;
            object-fit: cover;

        }

        .inner>.specs {
            object-fit: cover;
            height: 340px;
            object-position: top;
        }

        .inner>div {
            padding: 22px;
            min-height: 150px;
        }

        // .inner {
        // }
    }
}

#en {
    .about_marykay {
        .bottom_content {
            .titles {
                min-height: 70px;
            }
            .inner > div {
                min-height: 210px;
            }
        }
    }
}