.brand {
    @include m() {
        overflow-x: hidden;
    }


    .breadcrumbs {
        margin-bottom: 20px;
    }

    .banner {
        height: 560px;
        width: 100%;
        overflow: hidden;
        position: relative;

        @include t() {
            height: auto;
        }

        @include m() {
            width: 180%;
            height: initial;
        }

        img {
            object-fit: cover;
            height: 560px;

            @include t() {
                height: auto;
                width: 100%;
            }
        }
    }

    .about_marykay_inner {
        position: relative;

        @include m() {
            padding: 0 15px;
        }

        height: 0;

        @include t() {
            height: auto;
            min-height: 400px;
        }

        .text_head {
            position: absolute;
            left: 50%;
            top: -460px;

            @include t() {
                position: relative;
                left: initial;
                top: 28px;
                width: 100%;
                margin: 0 auto;
            }

        }

        .text_body {
            margin-top: 50px;
            max-width: 610px;
            width: 100%;

            .sign {
                margin-top: 20px;
                text-align: right;
            }

            @include t() {
                width: 98%;
                height: 180px;
            }

            ul li {
                list-style: disc;
                line-height: 1.9rem;

            }
        }

    }

    .spec {
        color: #000;

        img {
            width: 100%;
            object-fit: cover;
        }

        .spec_inner {
            position: relative;
            max-width: 580px;
            width: 100%;
            margin: 0 auto;

            .t1 {
                @include m() {
                    margin-top: 50px;
                }
            }

            .t2 {
                margin-top: 60px;


            }

            @include m() {
                padding: 0 40px 60px;
            }
        }
    }

    .list {
         background-color: #FADEE5;
        height: 160px;
        text-align: center;
        position: relative;
        width: 100%;
        max-width: 250px;
        margin: 10px 7px 0;
        font-size: 14px;
        @include m(){
          max-width: initial;
        }
        div {
          width: 165px;
          @include positionauto(50%);
          z-index: 100;
        }
       

    }


    .bottom {
      
        .flex {
         @include m(){
           flex-wrap: wrap;
         }   
        } 
        .text_small {
            width: 100%;
            max-width: 660px;
            margin: 60px auto 100px;

            @include m(){
               padding: 0 15px;
               width: 92%;
               margin: 60px auto 100px;
            }
        }
    }



}