.privacy {
    @include m(){
       padding: 0 15px;
    }
    .privacy_inner {
        margin-top: 70px;
        padding-bottom: 100px;

        .accordion-toggle {
            margin: 10px 0;
            font-weight: bold;
            padding-left: 15px;

            .arrow_down {
                float: right;
                position: relative;
                right: 10px;

                &::after {
                    content: '';
                    clear: both;
                }
            }
        }

        .accordion-content {
            padding-left: 15px;
            font-size: initial;
        }

    }
}