.story {
    @include m() {
        overflow-x: hidden;
    }

    .breadcrumbs {
        margin-bottom: 20px;
    }

    .banner {
        height: 560px;
        width: 100%;
        overflow: hidden;
        position: relative;

        @include t() {
            height: auto;
        }

        @include m() {
            width: 180%;
            height: initial;
        }

        img {
            object-fit: cover;
            height: 560px;

            @include t() {
                height: auto;
                width: 100%;
            }
        }
    }

    .about_marykay_inner {
        position: relative;
        height: 0;

        @include m() {
            background-color: rgb(0, 0, 0);
            margin-top: -10px;
        }

        @include m() {
            padding: 0 15px;
        }

        @include t() {
            height: auto;
            padding-bottom: 78px;
            background-color: #000;
            margin-top: -10px;
        }

        .text_head {
            position: absolute;
            left: 50%;
            top: -460px;

            @include t() {
                position: relative;
                left: initial;
                top: 28px;
            }

        }

        .text_body {
            margin-top: 50px;
            width: 100%;
            max-width: 630px;

            .sign {
                text-align: right;
                margin-right: 10px;
            }
        }

    }

    .spec {
        padding: 100px 0;
        background-color: rgb(0, 0, 0);
        text-align: center;
        .text_left {
        text-align: center;
        }



    }

    .inner {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;

        .left {
            img {
                width: 120px;

                @include m() {
                    width: 80px;
                }
            }
        }

        .right {
            position: relative;
            width: 69%;
            font-size: .9rem;
            top: 16px;
            line-height: 1.8rem;

            &::after {
                content: '';
                width: 2px;
                height: 60px;
                display: block;
                background-color: rgb(227, 227, 227);
                position: absolute;
                right: -30px;
                top: 10px;
                ;
            }
        }

        .none {
            &::after {
                display: none;
            }
        }
    }

    .swiper_story {
        position: relative;

        .txt {
            color: #fff;
            position: absolute;
            text-shadow: 0px 1px 3px #232323;
            top: 50%;
            transform: translateY(-50%);
            left: 10%;
            width: 450px;
            z-index: 100;

            @include m() {
                transform: translate(-50%, -50%);
                left: 50%;
                width: 350px;
            }


            h4 {
                margin-bottom: 30px;
            }

        }

        .swiper-slide {
            position: relative;

            &::after {
                content: '';
                background-color: #070707;
                opacity: 40%;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 1;
                display: block;
            }

            img {
                height: 900px;
                width: 100%;
                object-fit: cover;
            }

            @include m() {
                img {
                    height: 700px;
                    width: 100%;
                    object-fit: cover;

                    &.lastimg {
                        object-position: 70% 10%;
                    }

                }
            }
        }

        .swiper-button-next {
            right: 20px;
        }
    }


    // 共用粉紅綠色態度css

    .m {
        display: none;
    }


    @include t() {
        .m {
            display: block;
        }

        .d {
            display: none;
        }

    }


}