//marykay style
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Playfair+Display:wght@700&display=swap');


.section.nomargin{
    margin-top:0px !important ;
}
// .heading-block > h3::after{
//     content: '';
//     display: block;
//     margin-top: 30px;
//     width: 40px;
//     border-top: 2px solid #444;
// }

h1.showcase{
    b{
        font-family: 'Playfair Display', serif;
        font-size: 2.3em;
    }
    i{
        font-family: 'Italiana', serif;
        font-size: 2.3em;
        margin-left: .5em;
    }
}