//marykay style
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Playfair+Display:wght@700&display=swap');


@font-face {
  font-family: marykay_serif;
  src: url('../fonts/MaryKaySerif060-Bold.otf') format('opentype');
  font-weight: bold;
}





.section.nomargin{
    margin-top:0px !important ;
}


h1.showcase{
    b{
        font-family: 'marykay_serif', serif;
        // font-family: 'Playfair Display', serif;
        font-size: 2.3em;
    }
    i{
        font-family: 'Italiana', serif;
        font-size: 2.3em;
        margin-left: .5em;
    }
}