.product_item {
   

    .product_inner {
        max-width: 996px;
        width: 100%;
        min-height: 700px;
        margin: 0 auto;

        .breadcrumbs {
            margin-bottom: 60px;
            font-size: .91rem;
            color: $font-color-light;

            a {
                color: $font-color-light;
                font-weight: 800;
                margin: 0 1px;
            }
        }

        .product_img {
            img {
                width: 430px;
            }
        }
        .thumbnail {
            ul {
            display: flex;
                li {
                  
                   img {
                    width: 80px;
                    border: 1px solid #eee;
                    margin: 0 1px;
                   } 
                }
            }
        }
        .product_desc {
            h2 {
                font-size: 1.15rem;
            }
            .total {
                color: $font-color-light;
                font-size: 0.8rem;
                
                
                // .weight {
 
                // }
                // .prices {
    
                // }
            }
            .desc {
            margin-top: 20px;
               color:$font-color-light;
               font-size: .92rem; 
            }
            .btn_buy {
                margin-top: 100px;
            }
            .detail {
               margin-top: 30px;
               font-size: .9rem;
               a:hover{
                  color: #333; 
               }
             
            }
            

        }
        .product_all-desc {
            font-size: .9rem;
            color:#333;
            h3 {
               margin: 20px 0 10px; 
            }
            margin: 100px 0;
        }

    }
}

// accondion
.accordion-toggle {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 10px 0;
    border-bottom: 1px solid lighten($font-color-light , 20);

  }
.accordion-content {
    display: none;
    padding-top: 10px;
    padding-bottom: 20px;
    color: rgb(96, 96, 96);
    font-size: .8rem;         
  }
  
  .accordion-content.active {
    display: block;
    animation: showNav 250ms ease-in-out both;
   
    
  }

  @keyframes showNav {
    from {opacity: 0;}
    to {opacity: 1;}
  }