//index S1 一支口紅的力量也能為世界帶來改變

.s1 {
  background-image: url('../images/bg_ind_s1@1x.jpg');
  background-size: cover;
  padding: 100px 0;
  .slider-caption {
     position: relative;
     left: 60%;
     width: 500px;
  }
  .slider-caption-center {
    text-align: center;
  }
}