.s4 {

    color: #000;
    position: relative;
        .heading-block {
        position: absolute;
        z-index: 3;
        color: #fff;
        top: 160px;
        width: 798px;

    }
    .banner {
        width: 100%;
        height: 500px;
        // height: 100%;
        background-color: rgb(255, 175, 175);
        overflow: hidden;
       
        
        

        .pinkpark {
            width: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            position: relative;
            z-index: 1;
            height: 500px;
          
        }
        
    }

    .bg {
        height: 615px;
        background-size: cover;
        background-position: center;
        transition: transform .65s cubic-bezier(.05,.2,.1,1),box-shadow .65s cubic-bezier(.05,.2,.1,1);
       
        &:hover {
            transform: scale(1.09);
            // box-shadow: 0 25px 55px rgb(253 71 102 / 22%);
             h3 {
                transform: translateY(-160px);  
             }
             .content_footer {
                opacity: 1;
            }

        
        }
    }
    %position  {
        position: relative;
        z-index: 1; 
    }
    .bg1 {
        background-image: url('../images/bg_ind_s8-1.jpg');
        @extend %position;
    }
    .bg2 {
        background-image: url('../images/bg_ind_s8-1.jpg');
        @extend %position;
    }
    .bg3 {
        background-image: url('../images/bg_ind_s8-1.jpg');
        @extend %position;
    }
    .inner {
        color: #fff;
        text-align: center;
        position: absolute;
        bottom: 40px;
        left: 0;
        z-index: 3;

        h3 {
          font-weight: 800;
          font-family: Helvetica, sans-serif;
          transition: transform .15s cubic-bezier(.05,.1,.1,1);
        }
       
        .content_footer  {
            opacity: 0;
        }
    }
}