<footer class="dark">
    <div class="container-xxl">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h4>Follow Mary Kay</h4>
                <ul class="social">
                    <li><a href="#"><img src="images/instagram.png" alt="" srcset=""></a></li>
                    <li><a href="#"><img src="images/facebook-circular-logo.png" alt="" srcset=""></a></li>
                    <li><a href="#"><img src="images/youtube.png" alt="" srcset=""></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>Related links</h4>
                <ul>
                    <li><a href="#">Consultant Sign In</a></li>
                    <li><a href="#"> Change Market</a></li>
                    <li><a href="#">HKDSA</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>Shopping Instructions</h4>
                <ul>
                    <li><a href="#">Customer Satisfaction Guarantee</a></li>
                    <li><a href="#"> Global Privacy Statement</a></li>
                    <li><a href="#">Consumer Privacy Policy </a></li>
                    <li><a href="#">Terms of Use of Mary Kay HK’s Website</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>Contact Us</h4>
                <ul>
                    <div class="contact">
                        <li>Customer Service Tel</li>
                        <li>(852)2923-5733</li>
                    </div>
                    <div class="contact">
                        <li> E-mail</li>
                        <li>
                            <a href="mailto:info.hk@mkcorp.com">info.hk@mkcorp.com</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</footer>