<footer class="dark">
    <div class="container-xxl">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h4>關注我們</h4>
                <ul class="social">
                    <li><a target="_blank" href="https://www.instagram.com/marykayhongkong/"><img src="images/instagram.png" alt="" srcset=""></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/MaryKayHK"><img src="images/facebook-circular-logo.png" alt="" srcset=""></a></li>
                    <li><a target="_blank" href="https://www.youtube.com/channel/UCHt3Kaa3n0_KJoZYcb0p9xg"><img src="images/youtube.png" alt="" srcset=""></a></li>
                    <li><a target="_blank" href="https://lin.ee/z35H2lP
"><img src="images/line_icon.png" alt="" srcset=""></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>相關連結</h4>
                <ul>
                    <li><a target="_blank" href="https://reurl.cc/zeoGve">美容顧問登入</a></li>
                    <li><a href="global_company.html"> 全球分公司</a></li>
                    <li><a target="_blank"  href="http://www.hkdsa.org.hk/index.html">香港直銷協會</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>購物說明</h4>
                <ul>
                    <li><a href="#">產品滿意保證</a></li>
                    <li><a href="#"> 全球隱私權聲明</a></li>
                    <li><a href="#">消費者隱私群方針</a></li>
                    <li><a href="#">​使用者規範及協議</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>與我們聯繫</h4>
                <ul>
                    <div class="contact">
                    <li>玫琳凱服務專線</li>
                    <li>(852)2923-5733</li>
                  </div>
                  <div class="contact">
                    <li>電子信箱</li>
                    <li>
                    <a href="mailto:info.hk@mkcorp.com">info.hk@mkcorp.com</a>
                        </li>
                </div>
                </ul>
            </div>
        </div>
    </div>

</footer>