<header class="header-area">
    <div class="header-wrapper">
        <div class="container-xxl">
            <div class="m-nav_bar ham_bar">
                <div class="nav-toggle">
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="nav">

                <div class="header-left">
                    <div class="logo"><a href="./index.html"><img src="./images/logo_marykay-white.svg" alt="" srcset=""></a></div>
                </div>


                <div class="header-right">
                    <nav id="navigation" class="mainnav">
                        <ul class="mainmenu">
                             
                            <li><span>關於玫琳凱</span>
                                <ul>
                                    <li><a href="tw_brands.html">品牌理念</a></li>
                                    <li><a href="tw_story">創辦人故事</a></li>
                                    <li><a href="tw_pink.html">粉紅公益</a></li>
                                    <li><a href="tw_green.html">粉紅綠色態度</a></li>
                                    <li><a href="technological_innovation.html">科研創新</a></li>
                                </ul>
                            </li>
                            <li><span>保養</span>
                                <ul>
                                    <li><span>產品系列</span>
                                        <ul class="last_menu">
                                            <li>
                                                <a href="./product.html">臻時粹顏系列</a>
                                            </li>
                                            <li>
                                                <a href="">時光精靈Repair系列</a>
                                            </li>
                                            <li>
                                                <a href="">時光精靈/時光精靈3D系列</a>
                                            </li>
                                            <li><a href="">天然淨活系列</a></li>
                                            <li><a href="">植物肌密系列</a></li>
                                            <li><a href="">補充性保養系列</a></li>
                                            <li><a href="">亮采系列</a></li>
                                            <li><a href="">舒顏系列</a></li>
                                            <li><a href="">淨顏系列</a></li>
                                            <li><a href="">男士系列</a></li>
                                            <li><a href="">美體系列</a></li>
                                        </ul>
                                    </li>
                                    <li><span>產品功能</span>
                                        <ul class="last_menu">
                                            <li>
                                                <a href="＃">卸妝</a>
                                            </li>
                                            <li>
                                                <a href="＃">潔顏</a>
                                            </li>
                                            <li>
                                                <a href="＃">化妝水</a>
                                            </li>
                                            <li>
                                                <a href="＃">乳液/乳霜</a>
                                            </li>
                                            <li>
                                                <a href="＃">面膜</a>
                                            </li>
                                            <li>
                                                <a href="＃">精華液/油</a>
                                            </li>
                                            <li>
                                                <a href="＃">身體防曬/保養</a>
                                            </li>
                                            <li>
                                                <a href="＃">眼唇保養</a>
                                            </li>
                                            <li>
                                                <a href="＃">特殊護理</a>
                                            </li>
                                            <li>
                                                <a href="＃">美容儀器</a>
                                            </li>
                                        </ul>

                                    </li>

                                </ul>
                            </li>
                            <li><span>彩妝</span>
                                <ul>
                                    <li><a href="">唇部系列</a></li>
                                    <li><a href="">臉部系列</a></li>
                                    <li><a href="">眼部系列</a></li>
                                    <li><a href="">彩妝工具</a></li>
                                    <li><a href="">香氛系列</a></li>
                                    <li><a href="">彩妝工具</a></li>  
                                </ul>
                               </li>
                            <li><span>營養品</span><ul><li><a href="">食物補充品</a></li></ul></li>
                           
                            <li><span>保養美學</span>
                                <ul>
                                    <li><a href="">親水專區</a></li>
                                    <li><a href="">養膚專區</a></li>
                                    <li><a href="">掃油專區</a></li>
                                    <li><a href="">舒壓專區</a></li>
                                    <li><a href="">懶人專區</a></li>
                                    <li><a href="bigeye.html">肌膚檢測</a></li>  
                                </ul>
                               </li>
                               <li><a href="">線上DM</a></li>
                            <li><a href=""> 如何購物</a></li>
                        </ul>
                    </nav>
                </div>




            </div>
        </div>

    </div>
</header>