  <header class="header-area">
            <div class="header-wrapper">
                <div class="container-xxl">
                    <div class="m-nav_bar ham_bar">
                        <div class="nav-toggle">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="nav">

                        <div class="header-left">
                            <div class="logo"><a href="./index_en.html"><img src="./images/logo_marykay-white.svg" alt=""
                                        srcset=""></a></div>
                        </div>
                        <div class="header-right">
                            <nav id="navigation" class="mainnav">
                                <ul class="mainmenu">

                                    <li><span>About Mary Kay
</span>
                                        <ul>
                                            <li><a href="brands.html">About Mary Kay
</a></li>
                                            <li><a href="#">About Mary Kay Ash
</a></li>
                                            <li><a href="#">Social Corporate Responsibility</a></li>
                                            <li><a href="technological_innovation.html">Scientific Research Innovation</a></li>
                                        </ul>
                                    </li>
                                    <li><span>Skin Care</span>
                                        <ul>
                                            <li><span>COLLECTION</span>
                                                <ul class="last_menu">
                                                    <li>
                                                        <a href="./product_en.html">Youthfinity</a>
                                                    </li>
                                                    <li>
                                                        <a href="">TimeWise Repair</a>
                                                    </li>
                                                    <li>
                                                        <a href="">TimeWise Moisture Renewing/TimeWise® Age Minimize 3D™ </a>
                                                    </li>
                                                    <li><a href="">Naturally</a></li>
                                                    <li><a href="">Naturally</a></li>
                                                    <li><a href="">Supplementary maintenance</a></li>
                                                    <li><a href="">LumiVie™</a></li>
                                                    <li><a href="">Calming Influence</a></li>
                                                    <li><a href="">Clear Proof ® </a></li>
                                                    <li><a href="">MK Men</a></li>
                                                    <li><a href="">Body</a></li>
                                                </ul>
                                            </li>
                                            <li><span>CONCERN</span>
                                                <ul class="last_menu">
                                                    <li>
                                                        <a href="＃">Remover</a>
                                                    </li>
                                                    <li>
                                                        <a href="＃">Cleansing
</a>
                                                    </li>
                                                    <li>
                                                        <a href="＃">Lotion</a>
                                                    </li>
                                                    <li>
                                                        <a href="＃">Lotion&Cream</a>
                                                    </li>
                                                    <li>
                                                        <a href="＃">Mask</a>
                                                    </li>
                                                    <li>
                                                        <a href="＃">Serum & Oil</a>
                                                    </li>
                                                    <li>
                                                        <a href="＃">Sun Care</a>
                                                    </li>
                                                    <li>
                                                        <a href="＃">Eye&Lips Care</a>
                                                    </li>
                                                    <li>
                                                        <a href="＃">Targeted Solutions</a>
                                                    </li>
                                                    <li>
                                                        <a href="＃">Skin Care Tools</a>
                                                    </li>
                                                </ul>

                                            </li>

                                        </ul>
                                    </li>
                                    <li><span>Makeup</span>
                                        <ul>
                                            <li><a href="">Lips</a></li>
                                            <li><a href="">Face</a></li>
                                            <li><a href="">Eyes</a></li>
                                            <li><a href="">Tools</a></li>
                                            <li><a href="">Fragrance</a></li>
                                        </ul>
                                    </li>
                                    <li><span>Nutrition</span>
                                        <ul>
                                            <li><a href="">Nutrition</a></li>
                                        </ul>
                                    </li>

                                    <li><span>Skin Care</span>
                                        <ul>
                                           <!-- 這邊還沒翻譯完 -->
                                            <li><a href="">Water-loving Zone
</a></li>
                                            <li><a href="">Skin-nourishing Zone</a></li>
                                            <li><a href="">Oil-controlling Zone
</a></li>
                                            <li><a href="">Stress-relieving Zone</a></li>
                                            <li><a href="">Lazy Girls’ Favorite Zone</a></li>
                                            <li><a href="">Skin Test
</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="">DM</a></li>
                                    <li><a href="">EN</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>