<header class="header-area">
    <div class="header-wrapper">
        <div class="container-xxl">
              <div class="m-nav_bar">
                    <div class="nav-toggle">
                     <span></span>
                     <span></span>
                    </div> 
                 </div>    
            <div class="nav">
              
                    <div class="header-left">
                        <div class="logo"><img src="./images/logo_marykay-white.svg" alt="" srcset=""></div>
                    </div>
              
               
                    <div class="header-right">
                        <nav class="mainnav">
                            <ul class="mainmenu">
                                <li class="has-dropdown"><a href="#">首頁</a></li>
                                <li><a href="#">關於玫琳凱</a></li>
                                <li><a href=""> 保養</a>
                                    <ul class="submenu">
                                        <li>系列一</li>
                                        <li>系列二</li>
                                    </ul>
                                </li>
                                <li><a href=""> 營養品</a></li>
                                <li><a href=""> 彩妝</a></li>
                                <li><a href=""> 線上DM</a></li>
                                <li><a href=""> 如何購物</a></li>
                                <li><a href=""> 英文</a></li>
                            </ul> 
                        </nav>
                    </div>   


                 
                
            </div>
        </div>

    </div>
</header>